.maindiv {
    max-width: 1440px;
    margin: 0 auto;
}

.header_menu {
    display: flex;
    align-items: center;
    }

.header_menu img[logo] {
   margin-top: 29px;
   margin-left: 50px;
   }
.header_menu button {
    width: 57px;
    margin-top: 21px;
    margin-left: 20px;
    border: none;
    background: none;

}
.header_menu p {
    height: 24px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 23px;
    margin-left: 10px;
    }
    
nav {
    display: block;
    margin-top: 23px;
    margin-left: 90px;
    }

a {
    display: inline-block;
    height: 24px;
    margin-right: 110px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
             }

       .item1 {
        position: relative;
        height: 24px;
        width: 86px;
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-top: 163px;
        margin-left: 210px;
        text-transform: uppercase;
        }
        
        .item2 {
        position: relative;
        height: 120px;
        width: 425px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 57px;
        font-weight: 700;
        margin-top: 6px;
        margin-left: 210px;
        text-transform: uppercase;
        }
        
        .item3 {
        position: relative;
        height: 48px;
        width: 250px;
        color: grey;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin-top: 70px;
        margin-left: 210px;
        }
        
        .block_one button {
        width: 213px;
        height: 55px;
        border: none;
        margin-top: 100px;
        margin-left: 210px;
        }

        .item4 {
            position: relative;
            height: 24px;
            width: 42px;
            color: blue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 700;
            margin-top: 150px;
            margin-left: 50px;
            text-transform: uppercase;
            }
            
            .item5 {
            position: relative;
            height: 85px;
            width: 400px;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 38px;
            font-weight: 700;
            margin-top: 30px;
            margin-left: 50px;
            text-transform: uppercase;
            }
            
            .item6 {
            position: relative;
            height: 70px;
            width: 350px;
            color: grey;
            font-family:Arial, Helvetica, sans-serif;
            font-size: 16px;
            margin-top: 40px;
            margin-left: 50px;
            }
            
            .block_four button {
            width: 213px;
            border: none;
            margin-top: 40px;
            margin-left: 50px;
            }

            @media screen and (max-width: 800px) {
                .container {
               grid-template-columns: 1fr;
               }
               }
   